[Desktop Entry]
Type=Application
Name=Obsidian
Exec=obsidian
Icon=obsidian_icon.png
Comment=Note taking app
MimeType=x-scheme-handler/obsidian;text/html;
